
table {
    border: 1px solid grey;
}

th {
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
}

table {
    width: 100%;
}

table {
    width: 600px;
}

body {
    background-color: #fffff0;
}

.userImg {
    border-radius: 50%;
}

* {
    font-family: 'Comfortaa', cursive;
}

.textFont {
    font-family: 'Comfortaa', cursive;
}

.textFont.Bold {
    font-weight: bold;
}

.textFont.SuperBold {
    font-weight: 900;
}

.textFont.Bold.BackYel {
    background-color: LightYellow;
}

.textFont.Bold.BackGold {
    background-color: LightGoldenRodYellow;
}

.cellText {
    font-family: 'Comfortaa', cursive;
}

.cellText:hover {
    background-color: LightGrey;
}

.btn {
    font-family: 'Comfortaa', cursive;
}

.cellText.replacementText {
    background-color: orange;
}

.cellText.replacementText:hover {
    background-color: OrangeRed;
}

.hide_element {
    display: none;
}

.appear_element {
    display: inline;
    animation: appearWaitDis;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

.tipWindow {
    padding: 15px 32px;
    text-align: center;
    background-color: gray;
    color: white;
    border-radius: 12px;
}

.tipWindow.hideElement {
    display: none;
}

.tipWindow.appearElement {
    display: inline;
    animation: appearWaitDis;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes appearWaitDis {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}