{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form action="" enctype=multipart/form-data method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.token.label }}
            {% if level == 1 %}
                <br>{{ form.token(class="form-control", type="token") }}<br>
            {% else %}
                <br>{{ form.token(class="form-control", type="token", readonly="readonly") }}<br>
            {% endif %}
            {% for error in form.token.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <p>
            {{ form.grade.label }}
            {% if level == 1 %}
                <br>{{ form.grade(class="form-control", type="grade") }}<br>
            {% else %}
                <br>{{ form.grade(class="form-control", type="grade", readonly="readonly") }}<br>
            {% endif %}
            {% for error in form.grade.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <p>
            {{ form.access_level.label }}<br>
            {{ form.access_level(class="form-control", type="access_level") }}<br>
            {% for error in form.access_level.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <p>
            <img src="{{ image_path }}" alt="А где">
            <input type=file class="form-control-file"
                   accept="image/png, image/jpg, image/jpeg" name=file value=Upload>
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(class="form-control", type="surname") }}<br>
            {% for error in form.surname.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", type="name") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <p>
            {{ form.patronymic.label }}<br>
            {{ form.patronymic(class="form-control", type="patronymic") }}<br>
            {% for error in form.patronymic.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% if level != 1 %}
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            <p>
                {{ form.password_again.label }}<br>
                {{ form.password_again(class="form-control", type="password") }}<br>
                {% for error in form.password_again.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
        {% endif %}

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}