{% extends "base.html" %}

{% block content %}
    {% if current_user.access_level == 3 %}
        <a class="btn btn-info" href="/">Вернутся на главную страницу
        </a>
        <h1>{{ title }}</h1>
        <form action="" enctype=multipart/form-data method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.grade.label }}
                {% if level == 1 %}
                    <br>{{ form.grade(class="form-control", type="grade") }}<br>
                {% else %}
                    <br>{{ form.grade(class="form-control", type="grade") }}
                    <br>
                {% endif %}
                {% for error in form.grade.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            <p>
                {{ form.access_level.label }}<br>
                {{ form.access_level(class="form-control", type="select") }}<br>
                {% for error in form.access_level.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            <i>
                Уровни доступа: <br>
                3 - администратор <br>
                2 - учитель <br>
                1 - ученик <br>
            </i>
            <p>
                {{ form.surname.label }}<br>
                {{ form.surname(class="form-control", type="surname") }}<br>
                {% for error in form.surname.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(class="form-control", type="name") }}<br>
                {% for error in form.name.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            <p>
                {{ form.patronymic.label }}<br>
                {{ form.patronymic(class="form-control", type="patronymic") }}<br>
                {% for error in form.patronymic.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            <p>{{ form.submit(type="submit", class="btn btn-primary", value="Зарегестрировать") }}</p>
        </form>
        {% for err in form.errors %}
            <div>{{ err }}<br></div>
        {% endfor %}
        <h3 style="color: red">{{ message }}</h3>
    {% endif %}
{% endblock %}