{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.access_level == 3 %}
            <!-- Modal -->
            <div class="modal fade" id="lesson_modal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="lesson_modal_title"></h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" enctype=multipart/form-data method="post">
                                <label id="lesson_form"></label>
                                {{ form.hidden_tag() }}
                                <p>
                                    {{ form.title.label }}
                                    {{ form.title(class="form-control", type="title", id="title_form", readonly="readonly") }}<br>
                                </p>
                                <p>
                                    {{ form.rep_teacher.label(hidden="true") }}
                                    {{ form.rep_teacher(class="form-control", type="text", id="rep_teacher", hidden="true", value="null", readonly="readonly") }}
                                </p>
                                <p>
                                    {{ form.teacher.label }}
                                    {{ form.teacher(class="form-control", id="teacher") }}<br>
                                </p>
                                <p>
                                    {{ form.time.label }}
                                    {{ form.time(class="form-control", type="time_table", id="time", readonly="readonly") }}<br>
                                </p>
                                <p>
                                    {{ form.grade.label }}
                                    {{ form.grade(class="form-control", type="grade", id="grade") }}<br>
                                </p>
                                <p>
                                    {{ form.topic.label }}
                                    {{ form.topic(class="form-control", type="topic", id="topic") }}<br>
                                </p>
                                <p>
                                    {{ form.cabinet.label }}
                                    {{ form.cabinet(class="form-control", type="cabinet", id="cabinet") }}<br>
                                </p>
                                <p>{{ form.submit(type="submit", class="btn btn-primary", id="lesson_submit", onclick='document.getElementById("teacher").disabled = false;') }}</p>
                            </form>
                            <button class="btn btn-danger" id="delete_button"
                                    onclick="delete_data()">
                                Удалить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <p>
            <script src="/static/js/edit_table.js"></script>
            <a class="btn btn-info" href="/statistic">Посмотреть статистику</a>
            <a class="btn btn-success" href="/download_table">Скачать расписание в файле
            </a>
            <label for="set_date"></label>
            <input type="date" id="set_date" name="trip-start" value="{{ now_day }}">
            <a class="btn btn-outline-primary" onclick="change_week()">Изменить неделю
                просмотра
            </a>
            <br>
            {% if current_user.access_level == 3 %}
                <a>Добавить или изменить замену:</a>
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" id="flexCheckDefault"
                           onclick="edit_flag_replacement(this)">
                    <label class="custom-control-label" for="flexCheckDefault" id="submit_button">
                        Редактирование замен</label>
                </div>
                <a class="btn btn-outline-primary" href="/users">Просмотр и редактирвоание всех
                    пользователей
                </a>
                <a class="btn btn-outline-primary" href="/register">Заргестрировать нового
                    пользователя
                </a>
            {% endif %}
        </p>
        <h1>Расписание</h1>
        <table class="table table-bordered" id="table" contenteditable="false">
            <thead>
            <tr>
                {% for text in header %}
                    <th class="textFont Bold BackYel" scope="col" id="header_{{ loop.index }}">{{ text }}</th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            {% for row in rows %}
                {% set row_count = loop.index %}
                <tr>
                    {% for text in row %}
                        {% if loop.index == 1 %}
                            <th class="textFont Bold BackGold" scope="row" id="row_{{ row_count }}">{{ text }}</th>
                        {% else %}
                            {% if text[0] == 'replacementText' %}
                                <td class="cellText replacementText"
                                    onclick="edit_cell(this);"
                                    id="{{ loop.index }}_{{ row_count }}">{{ text[1] }}</td>
                            {% else %}
                                <td class="cellText" onclick="edit_cell(this);"
                                    id="{{ loop.index }}_{{ row_count }}">{{ text }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>Войдите, чтобы увидить расписание</h1>
    {% endif %}
{% endblock %}