{% extends "base.html" %}

{% block content %}
    <h1>Проверка токена</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.token.label }}<br>
            {{ form.token(class="form-control", type="token") }}<br>
            {% for error in form.token.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}